.strike {
    text-decoration: line-through;
}

.bold {
    font-weight: bold;
}

.red {
    color: red;
}

.green {
  color: green;
}

.has-error {
    color: red;
    background-color: yellow;
}

.orange {
    color: orange;
}

.radios {
  padding-right: 10px;
}
.sortorder:after {
  content: '\25b2';   // BLACK UP-POINTING TRIANGLE
}
.sortorder.reverse:after {
  content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
}